<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="content" style='margin-top: 1em;margin-bottom: 1em'>   
            <center><a th:href="@{'/exit'}" class="btn-danger btn-lg" style="margin-right: 1em" >
                    <span class="glyphicon glyphicon-log-out"> Sair</span>
                </a></center>
            <table id="tabelaprincipal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr >
                        <th >Pacote</th>
                        <th >Escolher</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr th:each="entrada : ${pacotes}"> 
                        <td  th:text="${entrada.titulo}" ></td>
                        <td><a  th:href="@{/selecionarNoticia(inicio=${entrada.inicio},fim=${entrada.fim})}" ><div class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Selecionar</div></a></td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
