<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="content" style='margin-top: 1em;margin-bottom: 1em'> 
            <div class="container">
                <div class="jumbotron col-sm-12">
                    <h2>Prezadx</h2>
                    <p>Por favor selecione um pacote de notícias, as 203 noticias selecionadas foram divididas em pacotes para que não fique muito 
                        trabalhoso para uma única pessoa classificar, portanto cada pessoa deve escolher apenas um pacote. 
                        Esta etapa só será necessária a primeira vez que entrar no sistema, porém se os dados do navegador
                        forem apagados essa informação será pedida novamente </p>
                </div>
                <table id="tabelaprincipal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr >
                            <th >Pacote</th>
                            <th >Escolher</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr th:each="entrada : ${pacotes}"> 
                            <td  th:text="${entrada.titulo}" ></td>
                            <td><a  th:href="@{/selecionarNoticia(inicio=${entrada.inicio},fim=${entrada.fim})}" ><div class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Selecionar</div></a></td>                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
