<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="content" style='margin-top: 1em;margin-bottom: 1em'>
            <div class="container">
                <div class="jumbotron col-sm-12" style="margin-bottom: 2em">
                    <h2>Prezadx</h2>
                    <p>Por favor classifique os comentários, leia o titulo da noticia e o texto do comentário, escolha uma das classes ao lado do comentários
                        para ler a descrição de cada classe mantenha o ponteiro do mouse a cima do botão da classe</p>
                </div>
            </div>
            <div class="container">
                <center><div class="panel panel-primary">
                        <div class="panel-heading" ><h2 th:text="${noticia.titulo}" >A Basic Panel</h2></div>
                    </div></center>
                <table id="tabelaprincipal" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr >
                            <th >Comentario</th>
                            <th >Ódio</th>
                            <th >Ofensivo</th>
                            <th >Neutro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entrada : ${comentarios}"> 
                            <td  th:text="${entrada.texto}" ></td>
                            <td><center><a  th:href="@{/classificarComentario(id=${noticia.id},com=${entrada.idComentario},cla='odio')}" data-placement="bottom" data-toggle="tooltip" th:attr="title=${helpOdio}" ><div class="btn btn-danger">Odio</div></a></center></td>                        
                    <td><center><a  th:href="@{/classificarComentario(id=${noticia.id},com=${entrada.idComentario},cla='ofensivo')}" data-placement="bottom" data-toggle="tooltip" th:attr="title=${helpOfensa}" ><div class="btn btn-warning">Ofensivo</div></a></center></td>                        
                    <td><center><a  th:href="@{/classificarComentario(id=${noticia.id},com=${entrada.idComentario},cla='neutro')}" ><div class="btn btn-success">Neutro</div></a></center></td>                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
