@media(min-width:768px) {
    .side-nav {
        top: 83px;
    }
}
.inline-button-to {
    display:inline
}
.actions {
    margin-bottom: 20px;
}
.actions > .button_to {
    display:inline;
}

.modal-dialog.large {
    width: 60%;
}


